*{
    background-color: lightgray;
}

h1 {
    margin: 25px;
    text-decoration: underline;
    font-size: 2em;
}

h2 {
    margin: 25px 25px 0px;
    text-decoration: underline;
    font-size: 1.5em;
}

p {
    margin: 5px 25px 25px; 
    line-height: 1.5;
}

ul {
    margin: 5px 45px 25px; 
    list-style: disc;
    line-height: 1.5;
}

ol {
    margin: 5px 45px 25px; 
    list-style-type: upper-roman;
    line-height: 1.5;
}
